<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="./style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

</head>

<body ng-controller="LibraryController as library">
    <div class="container">
        <section>


            <!--Beginning of books table -->
            <table class="table table-bordered table-hover">
                <thead>
                    <th>Title</th>
                    <th>Author</th>
                    <th>ISBN Code</th>
                    <th>Number of Books</th>
                    <th>Publish Date</th>
                    <th>Book Category</th>
                    <th>Number of Books Issued</th>
                </thead>
                <tbody>
                    <tr ng-repeat="bookDetail in library.bookDetails" ng-class="{active:$index === library.row}" ng-click="library.rowHighilited($index)">
                        <td>{{bookDetail.name}}</td>
                        <td>{{bookDetail.author}}</td>
                        <td>{{bookDetail.isbnCode}}</td>
                        <td>{{bookDetail.numberOfBooks}}</td>
                        <td>{{bookDetail.publishDate}}</td>
                        <td>{{bookDetail.bookCategory}}</td>
                        <td>{{bookDetail.numberOfBooksIssued}}</td>
                    </tr>
                </tbody>
            </table>
            <!--End of books table -->

            <!--Beginning of buttons row -->
            <section class="row">
                <div class="col-md-4"><button class="btn btn-primary btn-lg btn-block">Add</button></div>
                <div class="col-md-4"><button class="btn btn-warning btn-lg btn-block">Edit</button></div>
                <div class="col-md-4"><button class="btn btn-danger btn-lg btn-block">Delete</button></div>
            </section>
            <!--End of buttons row -->

            <!-- <dl>
                <dt>Title:</dt>
                <dd>{{library.bookDetails[library.row].name}}</dd>
                <dt>Author:</dt>
                <dd>{{library.bookDetails[library.row].author}}</dd>
                <dt>ISBN Code:</dt>
                <dd>{{library.bookDetails[library.row].isbnCode}}</dd>
                <dt>Number of Books:</dt>
                <dd>{{library.bookDetails[library.row].numberOfBooks}}</dd>
                <dt>Publish Date:</dt>
                <dd>{{library.bookDetails[library.row].publishDate}}</dd>
                <dt>Book Category:</dt>
                <dd>{{library.bookDetails[library.row].bookCategory}}</dd>
                <dt>Number of Books Issued:</dt>
                <dd>{{library.bookDetails[library.row].numberOfBooksIssued}}</dd>
            </dl> -->
        </section>

        <!-- Add New Book Form -->
        <form class="form-horizontal add-form" ng-submit="library.addBookDetails(library)">

            <div class="row add-form">
                <div class="col-xs-4">
                    <label for="bookDetail.name">New Book Title</label>
                    <input ng-model="library.newBookDetails.name" type="text" class="form-control" placeholder="Harry Potter">
                </div>
                <div class="col-xs-4">
                    <label for="bookDetail.author">New Book Author</label>
                    <input ng-model="library.newBookDetails.author" type="text" class="form-control" placeholder="Harry Potter">
                </div>
                <div class="col-xs-4">
                    <label for="bookDetail.isbnCode">New Book ISBN Code</label>
                    <input ng-model="library.newBookDetails.isbnCode" type="text" class="form-control" placeholder="Harry Potter">
                </div>
            </div>

            <div class="row add-form">
                <div class="col-xs-3">
                    <label for="bookDetail.numberOfBooks">New Number of Books</label>
                    <input ng-model="library.newBookDetails.numberOfBooks" type="text" class="form-control" placeholder="Harry Potter">
                </div>

                <div class="col-xs-3">
                    <label for="bookDetail.publishDate">New Book Publish Date</label>
                    <input ng-model="library.newBookDetails.publishDate" type="date" class="form-control" placeholder="Harry Potter">
                </div>

                <div class="col-xs-3">
                    <label for="bookDetail.bookCategory">New Book Category</label>
                    <select ng-model="library.newBookDetails.bookCategory" class="form-control">
                      <option>Fiction</option>
                      <option>Horror</option>
                      <option>Drama</option>
                      <option>Mystery</option>
                      <option>Non-Fiction</option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <label for="bookDetail.numberOfBooksIssued">New Number of Books Issued</label>
                    <select ng-model="library.newBookDetails.numberOfBooksIssued" class="form-control">
                  <option>0</option>
                </select>
                </div>
            </div>
            <input type="submit" class="btn btn-success btn-lg btn-block add-form" value="Submit New Book">
        </form>
    </div>

</body>

</html>
