<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="./style.css">


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>

    <script type="text/javascript" src="app.js"></script>

</head>

<body ng-controller="LibraryController as library">
    <div class="container">
        <section>


            <!--Beginning of books table -->
            <table class="table table-bordered table-hover">
                <thead>
                    <th>Title</th>
                    <th>Author</th>
                    <th>ISBN Code</th>
                    <th>Number of Books</th>
                    <th>Publish Date</th>
                    <th>Book Category</th>
                    <th>Number of Books Issued</th>
                </thead>
                <tbody>
                  <tr>
                      <td>{{library.newBookDetails.name}}</td>
                      <td>{{library.newBookDetails.author}}</td>
                      <td>{{library.newBookDetails.isbnCode}}</td>
                      <td>{{library.newBookDetails.numberOfBooks}}</td>
                      <td>{{library.newBookDetails.publishDate}}</td>
                      <td>{{library.newBookDetails.bookCategory}}</td>
                      <td>{{library.newBookDetails.numberOfBooksIssued}}</td>
                   </tr>
                    <tr ng-repeat="bookDetail in library.bookDetails" ng-class="{active:$index === library.row}" ng-click="library.rowHighilited($index)">
                        <td>{{bookDetail.name}}</td>
                        <td>{{bookDetail.author}}</td>
                        <td>{{bookDetail.isbnCode}}</td>
                        <td>{{bookDetail.numberOfBooks}}</td>
                        <td>{{bookDetail.publishDate}}</td>
                        <td>{{bookDetail.bookCategory}}</td>
                        <td>{{bookDetail.numberOfBooksIssued}}</td>
                    </tr>
                </tbody>
            </table>
            <!--End of books table -->

            <!--Beginning of buttons row -->
            <section class="row">
                <div class="col-md-4"><a href="#/add" class="btn btn-primary btn-lg btn-block">Add</a></div>
                <div class="col-md-4"><a href="#/edit" class="btn btn-warning btn-lg btn-block">Edit</a></div>
                <div class="col-md-4"><button class="btn btn-danger btn-lg btn-block">Delete</button></div>
            </section>
            <!--End of buttons row -->
            <div ng-view></div>
        </section>

        <!-- Add New Book Form -->

    </div>

</body>

</html>
